# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Data
data/raw_filings/
data/chroma_db/
data/graph_store/

# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env.local

# OS
.DS_Store
Thumbs.db

.vercel
